<%- include("../_partials/_order") %>

    <div class="col-md-9">
        <div class="personal-form">
            <h1 class="no-select text-center">TẤT CẢ ĐƠN HÀNG</h1>
            <div id="all_orderPaginationTable">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control pa_search" id="datatable-search-input" placeholder="search" style="width: 300px;">
                    <label class="form-label" for="datatable-search-input">Search</label>
                </div>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr class="no-select">
                            <th class="pa_sort" data-sort="pa_number">Mã đơn hàng</th>
                            <th class="pa_sort" data-sort="pa_date" >Ngày tạo</th>
                            <th class="pa_sort" data-sort="pa_user">Tên người mua</th>
                            <th class="pa_sort" data-sort="pa_price">Tổng cộng</th>
                            <th class="pa_sort" data-sort="pa_status">Trạng thái</th>
                            <th>Chi tiết</th>
                        </tr>
                    </thead>
                    <tbody class="pa_list">
                        <% orders.forEach(function(order){ %>
                            <tr>
                                <td class="pa_number"><%= order.id %></td>
                                <td class="pa_date hidden"><%= order.createdAt %></td>
                                <td class="pa_date_2"><%= order.fullDate %></td>
                                <td class="pa_user"><%= order.fullName %></td>
                                <td class="pa_price hidden"><%= order.purchasePrice %></td>
                                <td><%= order.purchasePriceText %></td>
                                <td class="pa_status"><%= order.orderstatus.status %></td>
                                <td class="item-detail"><a href="/order/<%= order.id %>">Chi tiết</a></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                <div class="d-flex justify-content-end mt-2">
                    <ul class="pagination"></ul>
                </div>
            </div>
        </div>
    </div>

<%- include("../_partials/_footer") %>