<%- include("../_partials/_information") %>

    <div class="col-md-9">
        <form method="POST" action="/information/address" class="personal-form" onsubmit="preSubmitAddress()">
            <% if(info && info.length > 0){ %>
                <div class="alert alert-info alert-information" role="alert">
                    <%= info %>
                </div>
            <% } %>
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger alert-information" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <h1 class="no-select text-center">SỔ ĐỊA CHỈ</h1>
            <div class="row mb-3 hidden" name="addressBlock">
                <label for="address" class="col-sm-2 col-form-label no-select" name="labelP">Địa chỉ #0</label>
                <div class="col-sm-10">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item address-row">
                            <input type="text" class="form-control" name="address">
                        </li>
                        <li class="list-group-item address-row">
                            <input type="button" class="btn btn-success col-1 change-btn" name="changeAddressBtn" value="Sửa"></input>
                        </li>
                        <li class="list-group-item address-row">
                            <input type="button" class="btn btn-danger col-1 change-btn" name="deleteAddressBtn" value="Xóa"></input>
                        </li>
                    </ul>
                </div>
            </div>
            <% var i = 0; %>
            <% while(totalAddress){ %>
                <div class="row mb-3" name="addressBlock">
                    <label for="address" class="col-sm-2 col-form-label no-select" name="labelP">Địa chỉ #<%= i + 1 %></label>
                    <div class="col-sm-9">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item address-row w-100">
                                <input type="text" class="form-control w-100" name="address" value="<%= readAddress[i] %>" disabled>
                            </li>
                            <li class="list-group-item address-row">
                                <input type="button" class="btn btn-success col-1 change-btn" name="changeAddressBtn" onclick="changeAddress(this)" value="Sửa"></input>
                            </li>
                            <li class="list-group-item address-row">
                                <input type="button" class="btn btn-danger col-1 change-btn" name="deleteAddressBtn" onclick="deleteAddress(this)" value="Xóa"></input>
                            </li>
                        </ul>
                    </div>
                </div>
                <% i++; %>
                <% totalAddress--; %>
            <% } %>
            <div name="addressRow"></div>
            <div class="row mb-3">
                <div class="col-sm-5"></div>
                <button type="button" class="btn btn-success col-1" onclick="addAddress()">Thêm địa chỉ</button>
            </div>
            <div class="row mb-3">
                <div class="col-sm-5"></div>
                <button type="submit" class="btn btn-primary col-1">Save</button>
            </div>
        </form>
    </div>
    <script src="../js/information/addAddress.js"></script>
    <script src="../js/information/changeAddress.js"></script>
    <script src="../js/information/deleteAddress.js"></script>
    <script src="../js/information/preSubmitAddress.js"></script>

<%- include("../_partials/_footer") %>